/* Styles CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#promo-banner {
    background-color: #000000;
    padding: 10px;
    text-align: center;
    color: #FFFFFF;
}

#promo-banner a {
    color: #FFFFFF;
    text-decoration: none;
}

#navbar {
    border: 3px solid black;
    background-color: #FFFFFF;
    padding: 10px;
    display: flex;
    align-items: center;
}

#navbar img {
    margin-right: 10px;
    margin-left: 4%;
}

#search-bar {
    margin-left: 100px;
    padding: 10px;
    padding-right: 90px;
    border: 1px solid #000000;
    border-radius: 10px;
}

.NAV  {
    margin-right: 4%;
    text-decoration: none;
    color: #000000;
}
.nav-dropdown{
    position: relative;
    margin-left: auto;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    border: 1px solid black;
    padding: 10px;
    z-index: 1;
    border-radius: 10px;
    width: 100px;
}
.nav-dropdown:hover .dropdown-content{
    display: block;
}
.dropdown-content a,button{
    display: block;
    text-decoration: none;
    color: black;
    margin-bottom: 5px;
}

#main-content {
    margin: 20px;
}
#main-content-search {
    margin: 20px;
    display: flex;
}

.rounded-box {
    display: flex;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-image: linear-gradient(210deg, rgba(235, 86, 123, 1) 0%, rgba(150, 158, 255, 0.5899999737739563) 48%, rgba(145, 58, 254, 0.8399999737739563) 100%);
}

.refurbished-left {
    width: 50%;
}

.refurbished-right{
    width: 50%;
    display: flex;
}
.carousel-images img {
    width: 70%;
    height: 70%;
    display: none;
}

.prev-button-item,
.next-button-item{
    padding-top: 180px;
    width: 10%;
}

.prev-button,
.next-button {
    padding-top: 90px;
    width: 10%;
}
.prev-button-item img,
.next-button-item img{
    width: 24px;
    height: 24px;
}

.prev-button img,
.next-button img{
    width: 24px;
    height: 24px;
}
.bg-arrow{
    border: none;
    background: none;
    cursor: pointer;
}
.shop-refurbished{
    width: 30%;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 10px;
    display: flex;
    background-color: #FFFFFF;
    margin-left: 30%;
}

.shop-refurbished a{
    padding: 8px;
    text-decoration: none;
    color: #000000;
}
.shop-refurbished img{
    padding-top: 6px;
}


.product-description {
    font-size: 10px;
    color: #4A4848 ;
}

.title-1 {
    font-size: 30px;
    color: #000000;

}
.title-2{
    font-size: 24px;
    color: #A8A8A8;
}
.Most-Wanted{
    padding: 10px;
    display: flex;
    border-radius: 10px;
    background-color: #ffffff;
    gap: 25px;
}

.product-box {
    border: 2px solid black;
    position: relative;
    border-radius: 10px;
    background-color: #ffffff;
}
.best-seller{
    width: 50%;
    margin: 10px;
    border-radius: 10px;
    background-color: #DFDFDF;

}
.item-image{
    margin-bottom: -35px;
    margin-top: -20px;
}
.description{
    margin-left:8px ;
}

.product-box img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

footer a {
    color: #000000;
    text-decoration: none;
    margin: 0 10px;
}

section{
    max-width: 1200px;
    margin-left:20px;
}

.show-products .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
}
.show-products .box-container .box {
    background-color: white;
    border-radius: 2rem;
    border: solid black;
    padding: 1rem;
    height: 25rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.show-products .box-container .box img {
    max-width: 100%;
    max-height: 40%;
    object-fit: contain;
    margin-bottom: 1rem;
}

.show-products .box-container .box .name{
    font-size: 2rem;
    color:black;
}

.show-products .box-container .box .category{
    font-size: 1.5rem;
    color:#666;
    line-height: 2;
}

.show-products .box-container .box .price{
    font-size: 2rem;
    color:#2980b9;
    margin:.5rem 0;
}

.show-products .box-container .box .details{
    font-size: 1.5rem;
    color:#666;
    line-height: 2;
    max-lines: 2;
}

.show-products .box-container .box .brand{
    font-size: 1.5rem;
    color:#666;
    line-height: 2;
}
.show-products .box-container .box .sellingtype{
    font-size: 1.5rem;
    color:#666;
    line-height: 2;
}

.show-products .box-container {
    grid-template-columns: 1fr;
}

.product{
    padding: 2%;
    background-color: #FFFFFF;
    margin: 5px;
    border-radius: 10px;
    width: 90%;
    height: auto;
}
.show-products .box-container {
    grid-template-columns: 1fr;
}

.heading {
    font-size: 30px;
    color: #000000;
    margin-bottom: .5rem;
    text-align: center;
}

.filter-container {
    position: relative;
    margin-left: auto;
}

.filter-container .dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    border: 1px solid black;
    padding: 10px;
    z-index: 1;
    border-radius: 10px;
    width: 100px;
}

.filter-container:hover .dropdown-content {
    display: block;
}

.filter-container .dropdown-content a,
.filter-container .dropdown-content button {
    display: block;
    text-decoration: none;
    color: black;
    margin-bottom: 5px;
}
.go-to-product{
    text-decoration: none;
}