body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.box-principal {

    justify-content: center;
}

.box-add-product {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 2px solid black;
    border-radius: 20px;
    width: 90%;
    height: auto;
}

.title-1 {
    font-size: 20px;
    color: #000000;
    padding-left: 20px;
}

.bar-random {
    border-radius: 5px;
    background-image: linear-gradient(210deg, rgba(235, 86, 123, 1) 0%, rgba(150, 158, 255, 0.5899999737739563) 48%, rgba(145, 58, 254, 0.8399999737739563) 100%);
    width: 98%;
    height: 5px;
}

.box-add-product form {
    max-width: 60rem;
    margin: 0 auto;
    padding: 2rem;
}

.box-add-product form .flex {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.box-add-product form .flex .inputBox {
    flex: 1 1 25rem;
}

.box-add-product form span {
    font-size: 1.3rem;
}

.box-add-product form .box {
    font-size: 1.2rem;
    border-radius: .5rem;
    width: 100%;
    margin-top: 1.5rem;
}

.box-add-product form textarea {
    height: 5.4rem;
    resize: none;
}


#menu-btn {
    display: inline-block;
}

.flex-btn {
    flex-flow: column;
    gap: 0;
    margin-left: 6rem;
    margin-right: 6rem;
}

.btn {
    width: 100%;
    margin-top: 1rem;
    border-radius: 20px;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    text-transform: capitalize;
    background-image: linear-gradient(210deg, rgba(235, 86, 123, 1) 0%, rgba(150, 158, 255, 0.5899999737739563) 48%, rgba(145, 58, 254, 0.8399999737739563) 100%);;
    color: black;
    cursor: pointer;
}
.btn:hover {
    color: white;
    background-color: black;
}

div{
    display: block;
}

.heading {
    font-size: 30px;
    color: #000000;
    padding-left: 20px;
    margin-bottom: 2rem;
    text-align: center;
}
section{
    padding:2rem;
    max-width: 1200px;
    margin:0 auto;
}

.show-products .box-container {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
}
.show-products .box-container .box {
    background-color: white;
    border-radius: 2rem;
    border: solid black;
    padding: 1rem;
    height: 35rem;
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.show-products .box-container .box img {
    max-width: 100%;
    max-height: 40%;
    object-fit: contain;
    margin-bottom: 1rem;
}

.show-products .box-container .box .name{
    font-size: 2rem;
    color:black;
}

.show-products .box-container .box .category{
    font-size: 1.5rem;
    color:#666;
    line-height: 2;
}

.show-products .box-container .box .price{
    font-size: 2rem;
    color:#2980b9;
    margin:.5rem 0;
}

.show-products .box-container .box .details{
    font-size: 1.5rem;
    color:#666;
    line-height: 2;
    max-lines: 2;
}

.show-products .box-container .box .stock{
    font-size: 1.5rem;
    color:#666;
    line-height: 2;
}

.show-products .box-container {
    grid-template-columns: 1fr;
}

.update-product form{
    background-color: white;
    border-radius: .5rem;
    border:.2rem solid black;
    padding: 2rem;
    max-width: 40rem;
    margin:0 auto;
    /* justify-content: center; */
}

.update-product form .image-container{
    margin-bottom: 2rem;
}

.update-product form .image-container .main-image img{
    height: 20rem;
    width: 100%;
    object-fit: contain;
}

.update-product form .image-container .sub-image{
    display: flex;
    gap:1rem;
    justify-content: center;
    margin:1rem 0;
}

.update-product form .image-container .sub-image img{
    height: 5rem;
    width: 7rem;
    object-fit: contain;
    padding:.5rem;
    border:.2rem solid black;
    cursor: pointer;
    transition: .2s linear;
}

.update-product form .image-container .sub-image img:hover{
    transform: scale(1.1);
}

.update-product form .box{
    width: 100%;
    border-radius: .5rem;
    padding: .5rem;
    font-size: 1.8rem;
    color:black;
    background-color: #eee;
    margin: 1rem 0;
}

.update-product form span{
    font-size: 1.7rem;
    color:#666;
}

.update-product form textarea{
    height: 15rem;
    resize: none;
}

.option-btn{
    max-height: 20%;
    max-width: 30%;
    margin-top: 2rem;
    border-radius: 20px;
    border:.1rem solid black;
    padding: 1rem 1.5rem;
    font-size: 1.7rem;
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    cursor: pointer;
    background-color: orange;
}

.updatebtn{
    max-height: 20%;
    max-width: 40%;
    margin-top: 2rem;
    border-radius: 20px;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    background-color: white;
    cursor: pointer;
    background-image: linear-gradient(210deg, rgba(235, 86, 123, 1) 0%, rgba(150, 158, 255, 0.5899999737739563) 48%, rgba(145, 58, 254, 0.8399999737739563) 100%);;
}
.updatebtn:hover,
.option-btn:hover {
    background-color: black;
}

.empty{
    padding:1.5rem;
    background-color: white;
    border: .1rem solid black;
    text-align: center;
    color:#e74c3c;
    border-radius: .5rem;
    font-size: 1rem;
}
